#header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    background-color: black;
}

#header img {
    height: 100%;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: white;
    font-family: Verdana,sans;
    font-size: 3em;
}

.pic-box {
    margin: 2%;
    min-height: 200px;
    min-width: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#cont {
    background-color: black;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}