body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 15%;
    max-height: 100px;
    background-color: black;
}

#header img {
    height: 100%;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: white;
    font-family: Verdana,sans;
    font-size: 3em;
}

#overlay {
    position: fixed;
    z-index: 1;
    color: white;
    font-size: 2em;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.info {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.pic-box {
    margin: 2%;
    min-height: 200px;
    min-width: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hidden {
    height: 100%;
    display: none;
}

.shown {
    height: 100%;
    display: flex;
}

#album-frame {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    justify-content: space-evenly;
    position: fixed;
    border-radius: 5px;
}

#cont {
    background-color: black;
    min-height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}